{% extends 'base.html.twig' %}

{% block title %}Bonjour!{% endblock %}

{% block main %}
    <style>
    /* Style pour le cadre de l'image */
    .cadre-image {
        border: 4px solid #000; /* Augmentation de l'épaisseur de la bordure */
        padding: 8px; /* Réduction de l'espace à l'intérieur de la bordure */
        border-radius: 6px;
        margin-bottom: 20px;
        text-align: center;
        background-color: white;
    }
</style>

<div class="container text-center">
    <div class="container text-center">
    <h1 class="text-white">{{ welcome }}</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 cadre-image">
            <h3>Accéder aux usines :</h3>
            <a href="{{ path('app_usine_index') }}">
                <img src='images/garage_menu.jpg' alt="Accéder aux usines" width=300 height=200>
            </a>
        </div>

        <div class="col-md-6 cadre-image">
            <h3>Accéder aux membres :</h3>
            <a href="{{ path('app_member_index') }}">
                <img src='images/member.PNG' alt="Accéder aux membres" width=300 height=200>
            </a>
        </div>
    </div>
</div>


{% endblock %} {# main #}
