{% extends 'base.html.twig' %}

{% block title %}New Usine{% endblock %}

{% block body %}
    <h1>Create new Usine</h1>

    {{ include('usine/_form.html.twig') }}

    <a href="{{ path('app_usine_index') }}">back to list</a>
{% endblock %}
