{% extends 'base.html.twig' %}

{% block title %}New Garage{% endblock %}

{% block main %}
    <h1>Create new Garage</h1>

    {{ include('garage/_form.html.twig') }}
    <a href="{{ path('garage_list') }}">back to list</a>
    
{% endblock %}
